<div class="row">
    <div class="col-log-12">
        <div class="card-box">
            <div class="form-group">
                <label for="adresCont">Adres İçerik</label>
                <input type="text" class="form-control" name="adresCont" id="adresCont" value="@Model.Adres" />
                <input type="hidden" name="AdresId" id="AdresId" value="@Model.Id" />
            </div>
        </div>
    </div>
</div>
