@{
    ViewBag.Title = "Sipariş Onayı";
    Layout = "~/Views/_NewMaster.cshtml";
}
<!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-sm-9 wow bounceInUp animated">
        <div class="col-main">
          <div class="page-title">
            <h2>Sipariş Onaylandı</h2>
          </div>
          <div class="static-contain">
            <p><img src=/assets/images/check.svg /> Siparişiniz Onaylandı</p>
              <h2>Şimdi ne yapacağım?</h2>
            <p>Siparişiniz onaylandı. Belirtilen süre içerisinde çiçeğiniz belirttiğiniz adrese ulaşır.
                <br /> 444 2 151 numaralı telefondan siparişinizin durumunu kontrol edebilirsiniz.</p>
            </div></div>
        </section>
        <aside class="col-right sidebar col-sm-3 wow bounceInUp animated">
          <div class="block block-company">
            <div class="block-title">Gider Çiçek </div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd"><strong>Ana sayfa</strong></li>
              </ol>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!--End main-container --> 
