@{
    ViewBag.Title = "HavaleBilgileri";
    Layout = "~/Views/_Master.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Ana Sayfa</h4>
        <ol class="breadcrumb">
            <li>
                <a href="#">Ödeme</a>
            </li>
            <li class="active">
                Ödeme Yap
            </li>
        </ol>
    </div>
</div>
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-7">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>HAVALE BİLGİLERİMİZ AŞAĞIDAKİ GİBİDİR</b></h4>
            <p class="text-muted font-13 m-b-30">
                Lütfen sipariş kodunuzu, havale yaptığınız bölümdeki Açıklama kısmına giriniz. Bu işlemlerinizi hızlandıracaktır.
            </p>
        </div>
    </div>
</div>
