
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/_NewMaster.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about_company">
                    <h3>Hakkımızda</h3>
                    <h2>Gider Çiçekçilik</h2>
                    <p>
                        Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti. adıyla 1995'ten bu yana Mersin 'de toptan ve perakende çiçek, hediyelik eşya, canlı ve yapay çiçek satışını gerçekleştiriyoruz.
                    </p>
                    <p>
                        www.cicekgider.com, aynı zamanda mersin'den doğup Online çiçek siparişi konusunda türkiye çapında izlediği politikalarla küçük bir girişimden nerelere gelinebileceğinin haklı gururunu yaşamaktadır.
                    </p>
                    <p>
                        Bizlerle iletişime geçmek isterseniz aşağıdaki telefon, adres ve eposta bilgilerini kullanabilirsiniz.
                    </p>
                    <p>
                        <ol>
                            <li>Telefon: 444 2 151</li>
                            <li>Açık Adres: Çiçek Gider Sakarya Cad. No:9/B, Akdeniz/Mersin (İçel)</li>
                            <li>eposta: gidercicek@gmail.com</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
