    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about_company">
                    <h3>Mesafeli Satış Sözleşmesi</h3>
                    <h2>MESAFELİ SATIŞ SÖZLEŞMESİ</h2>
                    
                    <p>
                        1- TARAFLAR

                        İşbu Mesafeli Satış Sözleşme (“SÖZLEŞME”) madde 6’da bilgileri yer alan ("ALICI") ile Madde 4'te bilgileri yer
                        alan ("HİZMET SAĞLAYICI") ve Madde 5'te bilgileri yer alan ("SATICI") arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde elektronik ortamda kurulmuştur.
                    </p>
                    <p>
                        2- KONU

                        Sözleşme’nin konusu, Satıcının, Alıcı’ya satışını yaptığı, aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicinin Korunması Hakkında Kanun, Mesafeli Sözleşmeler Yönetmeliği ve ilgili diğer yasal hükümler uyarınca tarafların hak ve yükümlülüklerinin belirlenmesidir.
                    </p>
                    <p>
                        3- SÖZLEŞME’NİN KURULMASI

                        3.1- ALICI SÖZLEŞME’Yİ OKUDUĞUNU, ANLADIĞINI, HAKLARININ VE YÜKÜMLÜLÜKLERİNİN BİLİNCİNDE OLDUĞUNU KABUL EDER. ALICI, SÖZLEŞME KAPSAMINDA YER ALAN İŞLEMLERİN KENDİ MENFAATİNE UYGUN OLDUĞU KONUSUNDA TAM BİR KANAATE VARDIĞINI VE TÜM ŞARTLARA KENDİ ÖZGÜR İRADESİ İLE KABUL EDER.
                    </p>
                    <p>
                        3.2- SATICI VE ALICI, SÖZLEŞMENİN HÜKÜMLERİNİN HAKSIZ ŞART SAYILABİLECEK BİR ÖZELLİK TAŞIMADIĞINI, MENFAATLER DENGESİ BAKIMINDAN BİR HAKSIZLIK OLMADIĞINI KABUL EDER.
                    </p>
                    <p>
                        4- HİZMET SAĞLAYICI BİLGİLERİ

                       <br /> Unvanı: Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti.
                       <br />Adresi: Çiçek Gider Sakarya Cad. No:9/B, Akdeniz/Mersin (İçel)
                       <br />Tel: 444 2 151
                       <br />Fax: -
                       <br />E-posta: gidercicek@gmail.com
                       <br />Müşteri Hizmetleri: 444 2 151
                    </p>
                    <p>
                        5- SATICI BİLGİLERİ

                        <br /> Unvanı: Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti.
                        <br />Adresi: Çiçek Gider Sakarya Cad. No:9/B, Akdeniz/Mersin (İçel)
                        <br />Tel: 444 2 151
                        <br />Fax: -
                        <br />E-posta: gidercicek@gmail.com
                    </p>
                    <p>
                        6- ALICI BİLGİLERİ

                       <br /> Ad Soyad:
                       <br /> Tel:
                       <br />E-Posta:
                    </p>
                    <p>
                        7- SÖZLEŞME KONUSU ÜRÜN BİLGİLERİ

                        Malın / Ürünün / Hizmetin türü, miktarı, marka/modeli, rengi adedi, satış bedeli, ödeme şekli, Aşağıda belirtildiği gibidir:
                    </p>
                    <p>
                        SATICININ CAYMA HAKKI BİLDİRİMİ YAPILACAK İLETİŞİM BİLGİLERİ:
                        ŞİRKET : Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti
                        ADI/UNVANI: Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti
                        ADRES: Sakarya Cad. No:9/B, Akdeniz/Mersin (İçel)
                        EPOSTA: gidercicek@gmail.com
                        TEL: 444 2 151
                        FAKS: --
                    </p>
                    <p>
                        Ürün Teslimat Süreleri

                        Çiçek, Hediye, ürünlerinin teslimatı, sipariş oluşturma aşamasında seçtiğiniz tarih ve  saat aralığı içerisinde gerçekleştirilecektir.
                        Kargo ile yapılan gönderimlerde net bir teslim tarih bilgisi paylaşılamamaktadır. Teslimatınız, sipariş aşamasında tarafınıza gösterilen tahmini zaman aralığında gerçekleşmektedir.
                    </p>
                    <p>
                        8- GENEL HÜKÜMLER
                    </p>
                    <p>
                        8.1- Alıcı, Madde 7'de belirtilen Sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.
                    </p>
                    <p>
                        8.2- Sözleşme konusu ürün, yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için Alıcı'nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan süre içinde Alıcı veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Satıcı bu yükümlülüğüne aykırı davranır ise tüketici işbu Sözleşmeyi feshedebilir. Sözleşme’nin feshi durumunda, Satıcı, varsa teslimat masrafları da dâhil olmak üzere tahsil edilen tüm ödemeleri fesih bildiriminin kendisine ulaştığı tarihten itibaren 14 (on dört) gün içinde tüketiciye ilgili mevzuat uyarınca belirlenen kanuni faiziyle birlikte geri ödemek ve varsa tüketiciyi borç altına sokan tüm kıymetli evrak ve benzeri belgeleri iade etmek zorundadır.
                    </p>
                    <p>
                        8.3- Sözleşme konusu ürün, Alıcı'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden Satıcı sorumlu tutulamaz.
                    </p>
                    <p>
                        8.4- Satıcı, Sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun olarak teslim edilmesinden sorumludur. Haklı bir sebebe dayanmak şartıyla Satıcı, Sözleşme ’den doğan ifa yükümlülüğünün süresi dolmadan, Alıcı’ya eşit kalite ve fiyatta mal veya hizmet tedarik edebilir.
                    </p>
                    <p>
                        8.5- Sözleşme konusu ürünün teslimatı için işbu Sözleşme’nin elektronik ortamda teyit edilmesi ve Sözleşme konusu siparişin bedelinin ödenmesi şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, Satıcı ürün teslimi yükümlülüğünden kurtulmuş kabul edilir.
                    </p>
                    <p>
                        8.6- Satıcı sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkânsızlaştığı hallerde durumu öğrendiği tarihten itibaren 3 (üç) gün içerisinde Alıcı'ya durumu yazılı olarak veya kalıcı veri saklayıcısı ile bildirmekle yükümlüdür. Bu durumda Satıcı teslimat masrafları da dâhil olmak üzere tahsil edilen tüm ödemeleri bildirim tarihinden itibaren en geç 14 (on dört) gün içerisinde Alıcı’ya iade eder.
                    </p>
                    <p>
                        8.7- Satıcı, malın Alıcı ya da Alıcı’nın taşıyıcı dışında belirleyeceği üçüncü bir kişiye teslimine kadar oluşan kayıp ve hasarlardan sorumludur.
                    </p>
                    <p>
                        8.8- Alıcı’nın Satıcının belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini talep etmesi durumunda, malın ilgili taşıyıcıya tesliminden itibaren oluşabilecek kayıp ya da hasardan Satıcı sorumlu değildir.
                    </p>
                    <p>
                        8.9- Satıcı tarafından sunulan hizmet perakende satış kapsamında tüketiciye yöneliktir; Satıcı, Alıcı’nın yeniden satış amacı bulunduğundan şüphe etmesi halinde işbu Sözleşme kurulmuş olsa dahi siparişi iptal etme ve ürünleri teslim etmeme hakkını saklı tutar.
                    </p>
                    <p>
                        8.10- Sözleşme konusu ürün, yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için Alıcı'nın yerleşim yerinin uzaklığına bağlı olarak internet sitesinde ön bilgiler içinde açıklanan süre içinde Alıcı veya gösterdiği adresteki kişi/kuruluşa, Satıcının anlaşmalı olduğu kargo firması tarafından teslim edilir. Satıcı sattığı ürünleri kargo firmaları aracılığı ile Alıcı’ya göndermekte ve teslim ettirmektedir. Genel olarak aksi belirtilmediği sürece teslimat masrafları (kargo ücreti vb.) Alıcı’ya aittir. Satıcı satış anında yürüttüğü ve internet sitesinde şartlarını ilan ettiği kampanyaların sonucuna bağlı olarak söz konusu teslimat masraflarının tamamını ya da bir kısmını Alıcı’ya yansıtmayabilir.
                    </p>
                    <p>
                        9- CAYMA HAKKI
                        <br />
                        6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği’nin ilgili hükümleri uyarınca;
                        <br />
                        9.1  Tüketici; mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren 14 (on dört) gün içerisinde herhangi bir gerekçe göstermeksizin ve cezai şart ödemeksizin sözleşmeden cayma hakkına sahiptir. Ancak tüketici, işbu Sözleşme’nin kurulmasından malın teslimine kadar olan süre içinde de cayma hakkını kullanabilir. Cayma hakkının kullanıldığına dair bildirimin bu süre içinde yazılı olarak veya kalıcı veri saklayıcısı ile satıcı veya sağlayıcıya yöneltilmiş olması yeterlidir. Müşterilerimizin cayma hakkını kullanabilmesi için ürünle birlikte kendisine iletilen iade formunu doldurması ve ürünü iade formuyla birlikte Kargo firmasına teslim etmesi gerekmektedir.
                        Cayma hakkı süresinin belirlenmesinde;
                        <br />
                        <br />a) Tek sipariş konusu olup ayrı ayrı teslim edilen mallarda, tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin son malı teslim aldığı gün,
                        <br />b) Birden fazla parçadan oluşan mallarda, tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin son parçayı teslim aldığı gün,
                        <br />c) Belirli bir süre boyunca malın düzenli tesliminin yapıldığı sözleşmelerde, tüketicinin veya tüketici tarafından belirlenen üçüncü kişinin ilk malı teslim aldığı gün esas alınır.

                        <br />9.2  Tüketicinin cayma hakkı;
                        <br />a) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara,
                        <br />b) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine,
                        <br />c) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine,
                        <br />d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara,
                        <br />e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine,
                        <br /> f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine,
                        <br />g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine,
                        <br />h) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayri maddi mallara,
                        <br />i) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ve
                        <br />j) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmelere uygulanmaz.

                        <br />9.3- Tüketicinin cayma hakkını kullanması halinde satıcı veya sağlayıcı, cayma bildiriminin kendisine ulaştığı tarihten itibaren en geç 14 (on dört) gün içerisinde almış olduğu toplam bedeli ve tüketiciyi borç altına sokan kıymetli evrak ve benzeri her türlü belgeyi tüketiciye hiçbir masraf yüklemeksizin iade etmekle yükümlüdür.

                        <br /> 9.4- Tüketici cayma içinde malı, işleyişine, teknik özelliklerine ve kullanım talimatlarına uygun bir şekilde kullandığı takdirde meydana gelen değişiklik ve bozulmalardan sorumlu olmayacaktır.

                        <br />9.5- Tüketici, cayma hakkını kullandığında satıcının ön bilgilendirmede iade için belirttiği taşıyıcı aracılığıyla malı geri gönderir ise, iadeye ilişkin masrafları ödemekle sorumlu tutulamayacaktır. Satıcı ön bilgilendirmede iade için herhangi bir taşıyıcıyı belirtmediği durumda ise, tüketiciden iade masrafına ilişkin herhangi bir bedel talep edilemez. İade için ön bilgilendirmede belirtilen taşıyıcının, tüketicinin bulunduğu yerde şubesi olmaması durumunda satıcı, ilave hiçbir masraf talep etmeksizin iade edilmek istenen malın tüketiciden alınmasını sağlamakla yükümlüdür.

                        <br />9.6- Tüketici, satıcının malı kendisinin geri alacağına dair bir teklifte bulunmadıkça, tüketici cayma hakkını kullandığına ilişkin bildirimi yönelttiği tarihten itibaren 10 (on) gün içinde malı satıcıya geri göndermek zorundadır.

                        <br /> 9.7- Mesafeli Sözleşmeler Yönetmeliği'nin 15. maddesinin 1. fıkrasının a bendinde de belirtildiği üzere kişiye özel olarak hazırlanan ürünlerde tüketicilerin cayma hakkı bulunmamaktadır. Yenilebilir Çiçek ve Hediye (Kişiye Özel Ürünler) ürünleri Yönetmelik'in 15. maddesinin 1.fıkrasının a bendi uyarınca kişiye özel hazırlanıldığından müşterilerimizin cayma hakkı bulunmamaktadır. Ayrıca Yenilebilir Çiçek ve Hediye (Kişiye Özel Ürünler) siparişleri müşterilerimize özel hazırlanıldığından sipariş verildikten ve ürünler hazırlık aşamasına geçildikten sonra müşterimizin siparişlerini iptal etme, değiştirme ve/veya cayma hakları bulunmamaktadır.

                        <br />9.8- "Kargoya Verildi” statüsündeki siparişler kargo teslimat aşamasında iptal edilememektedir.

                        <br />9.9- "Kargoya Verildi" statüsündeki siparişler için, Müşterilerimizin ürünün kutusunu açmadan kargoyu kargo firmasına iade etmesi gerekmektedir. 9.1. maddedeki hükümler saklıdır.


                        <br /> 10- DELİL ANLAŞMASI VE YETKİLİ MAHKEME

                        <br />10.1- Bu Sözleşme ‘den ve/veya uygulanmasından doğabilecek her türlü uyuşmazlığın çözümünde Satıcı kayıtları (bilgisayar-ses kayıtları gibi manyetik ortamdaki kayıtlar dâhil) kesin delil oluşturur. Taraflar, Sözleşme’nin uygulanmasından ve yorumundan doğan ihtilaflarda mevzuat çerçevesinde belirlenen parasal sınırlar dâhilinde Alıcı ve Satıcı ’nın ikametgâhının bulunduğu yerdeki Tüketici Hakem Heyetleri aşan durumlarda Alıcı'nın ve Satıcı 'nın Tüketici Mahkemeleri yetkili olacağını kabul etmiştir.

                        <br /> 10.2- Parasal sınıra ilişkin bilgiler aşağıdadır:

                        <br />2018 yılı için Tüketici Hakem Heyetlerine yapılacak başvuru tutar bilgileri;
                        <br />a.     4.570,00 TL (Dört Bin Beş Yüz Yetmiş Türk Lirası) altında bulunan uyuşmazlıklarda ilçe tüketici hakem heyetleri,
                        <br />b.     4.570,00 TL (Dört Bin Beş Yüz Yetmiş Türk Lirası) ile 6.860,00 TL (Altı Bin Sekiz Yüz Altmış Türk Lirası) arasındaki uyuşmazlıklarda Büyükşehir Statüsünde Olan İllerde İl Tüketici Hakem Heyetleri,
                        <br /> c.     6.860,00 TL (Altı Bin Sekiz Yüz Altmış Türk Lirası) altında bulunan uyuşmazlıklarda Büyükşehir Statüsünde Olmayan İllerin Merkezlerinde İl Tüketici Hakem Heyetleri,
                        <br /> d.     4.570,00 TL (Dört Bin Beş Yüz Yetmiş Türk Lirası) ile 6.860,00 TL (Altı Bin Sekiz Yüz Altmış Türk Lirası) arasındaki uyuşmazlıklarda Büyükşehir Statüsünde Olmayan İllere Bağlı İlçelerde İl Tüketici Hakem Heyetleri, görevlidir.
                        Bu değerlerin üzerindeki uyuşmazlıklar için Tüketici Hakem Heyetlerine başvuru yapılamamaktadır.
                    </p>
                </div>
            </div>
        </div>
    </div>
