
@{
    ViewBag.Title = "Teslimat";
    Layout = "~/Views/_NewMaster.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="about_company">
                    <h3>Teslimat ve İade</h3>
                    <h2>Genel</h2>
                    <ol>
                        <li>Kullanmakta olduğunuz web sitesi üzerinden elektronik ortamda sipariş verdiğiniz takdirde, size sunulan ön bilgilendirme formunu ve mesafeli satış sözleşmesini kabul etmiş sayılırsınız</li>
                        <li>Alıcılar, satın aldıkları ürünün satış ve teslimi ile ilgili olarak 6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği (RG:27.11.2014/29188) hükümleri ile yürürlükteki diğer yasalara tabidir</li>
                        <li>Ürün sevkiyat masrafı olan kargo ücretleri çiçek siparişi verirken toplam alınan tutara dahil tutulur.</li>
                        <li>Satın alınan her bir ürün, 2 iş günü içinde sipariş verenin gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre içinde ürün teslim edilmez ise,  Alıcılar sözleşmeyi sona erdirebilir. </li>
                        <li>Satın alınan ürün, eksiksiz ve siparişte belirtilen niteliklere uygun teslim edilmek zorundadır. </li>
                        <li>Satın alınan ürünün satılmasının imkansızlaşması durumunda, satıcı bu durumu öğrendiğinden itibaren 3 gün içinde yazılı olarak alıcıya bu durumu bildirmek zorundadır. 14 gün içinde de toplam bedel Alıcı’ya iade edilmek zorundadır</li>
                    </ol>
                    <p>
                        SATIN ALINAN ÜRÜN BEDELİ ÖDENMEZ İSE:
                    </p>
                    <ol>
                        <li>Alıcı, satın aldığı ürün bedelini ödemez veya banka kayıtlarında iptal ederse, Satıcının ürünü teslim yükümlülüğü sona erer</li>
                    </ol>
                   <ol>
                       <li>Ürün teslim edildikten sonra, alıcının ödeme yaptığı kredi kartının yetkisiz kişiler tarafından haksız olarak kullanıldığı tespit edilirse ve satılan ürün bedeli ilgili banka veya finans kuruluşu tarafından Satıcı'ya ödenmez ise, Alıcı, sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak şekilde SATICI’ya iade etmek zorundadır. </li>
                   </ol>
                   <p>
                       ÖNGÖRÜLEMEYEN SEBEPLERLE ÜRÜN SÜRESİNDE TESLİM EDİLEMEZ İSE:
                   </p>
                    <ol>
                        <li>Satıcı’nın öngöremeyeceği mücbir sebepler oluşursa ve ürün süresinde teslim edilemez ise, durum Alıcı’ya bildirilir. Alıcı, siparişin iptalini, ürünün benzeri ile değiştirilmesini veya engel ortadan kalkana dek teslimatın ertelenmesini talep edebilir. Alıcı siparişi iptal ederse; ödemeyi nakit ile yapmış ise iptalinden itibaren 14 gün içinde kendisine nakden bu ücret ödenir. Alıcı, ödemeyi kredi kartı ile yapmış ise ve iptal ederse, bu iptalden itibaren yine 14 gün içinde ürün bedeli bankaya iade edilir, ancak bankanın alıcının hesabına 2-3 hafta içerisinde aktarması olasıdır. </li>
                    </ol>
                    <p>
                        Alıcı, sözleşme konusu mal/hizmeti teslim almadan önce muayene edecek; ezik, kırık, ambalajı yırtılmış vb. hasarlı ve ayıplı mal/hizmeti kargo şirketinden teslim almayacaktır. Teslim alınan mal/hizmetin hasarsız ve sağlam olduğu kabul edilecektir. ALICI , Teslimden sonra mal/hizmeti özenle korunmak zorundadır. Cayma hakkı kullanılacaksa mal/hizmet kullanılmamalıdır. Ürünle birlikte Fatura da iade edilmelidir.
                    </p>
                    <p>
                        CAYMA HAKKI:
                    </p>
                    <p>
                        ALICI; satın aldığı ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün içerisinde, SATICI’ya aşağıdaki iletişim bilgileri üzerinden bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir.
                    </p>
                    <p>
                        SATICININ CAYMA HAKKI BİLDİRİMİ YAPILACAK İLETİŞİM BİLGİLERİ:
                        ŞİRKET : Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti
                        ADI/UNVANI: Gider Çiçekçilik Fotoğraf. Gıda Konf. Hed. Eşya. Sn. ve Tic. Ltd. Şti
                        ADRES: Sakarya Cad. No:9/B, Akdeniz/Mersin (İçel)
                        EPOSTA: gidercicek@gmail.com
                        TEL: 444 2 151
                        FAKS: --
                    </p>
                    <p>
                        CAYMA HAKKININ SÜRESİ:
                    </p>
                    <p>
                        Alıcı, satın aldığı eğer bir hizmet  ise, bu 14 günlük süre sözleşmenin imzalandığı tarihten itibaren başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz
                    </p>
                    <p>
                        Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ ya aittir
                    </p>
                    <p>
                        Cayma hakkının kullanılması için 14 (ondört) günlük süre içinde SATICI' ya iadeli taahhütlü posta, faks veya eposta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen "Cayma Hakkı Kullanılamayacak Ürünler" hükümleri çerçevesinde kullanılmamış olması şarttır
                    </p>
                    <p>
                        CAYMA HAKKININ KULLANIMI:
                    </p>
                    <p>
                        3. kişiye veya ALICI’ ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası kurumsal ise, iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.)
                        İade formu, İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.
                    </p>
                    <p>
                        SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve ALICI’yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür
                    </p>
                    <p>
                        ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılması sebebiyle meydana gelen değişiklik ve bozulmalardan ALICI sorumlu değildir
                    </p>
                    <p>
                        Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir
                    </p>
                    <p>
                        TEMERRÜT HALİ VE HUKUKİ SONUÇLARI
                    </p>
                    <p>
                        ALICI, ödeme işlemlerini  kredi kartı ile yaptığı durumda temerrüde düştüğü takdirde, kart sahibi banka ile arasındaki kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahhüt eder. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini ALICI’dan talep edebilir ve her koşulda ALICI’nın borcundan dolayı temerrüde düşmesi halinde, ALICI, borcun gecikmeli ifasından dolayı SATICI’nın uğradığı zarar ve ziyanını ödeyeceğini kabul eder.
                    </p>
                    <p>
                        Banka Havalesi veya EFT (Elektronik Fon Transferi) yaparak veya Ziraat Bankası Mersin Uray Caddesi Şubesi bankası TR 3500 0100 1924 6760 5497 5003 hesaplarımızdan (TL) herhangi birine yapabilirsiniz.
                    </p>
                    <p>
                        Sitemiz üzerinden kredi kartlarınız ile, Her türlü kredi kartınıza online tek ödeme imkânlarından yararlanabilirsiniz. Online ödemelerinizde siparişiniz sonunda kredi kartınızdan tutar çekim işlemi gerçekleşecektir.
                    </p>
                </div>
            </div>
        </div>
    </div>